.main-title {
        font-size: 42px;
        font-weight: bold;
        color: green ;
        text-shadow: 2px 2px 6px #b8860b;
        margin-bottom: 40px;}
body {
  font-family: "Times New Roman", serif;
     background: linear-gradient(to bottom, #fdf6e3, #f8f1d4);
     text-align: center;}
      @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
.info-text {
  font-family: 'Playfair Display';
             font-size: 18px;
             margin-top: 10px;
             line-height: 1.6;}

.section-title { text-shadow: 5px 5px 10px gold;
margin-bottom: 20px;
color:#025c23;
margin-bottom: 40px;
}
li {list-style: disc inside;
margin:10px 1px;
padding-left: 10px;
top: 0px;
}
